<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>Informacja o usuniętej pozycji</title>
<link rel="stylesheet" th:href="@{/static/application.css}"
	href="/static/application.css" />
</head>
<body>
	<p>
	<h1>Fanfary</h1>
	</p>
		<div style="font-size:20px">Es tut mir leid, aber unsere wunderbare Datenbank hat das Buch  nicht gefunden.</div>
<br/>
<br/>
	<p>
		Kliknij <a th:href="@{|/books|}">tutaj</a>, aby przejść do wszystkich książek.
	</p>
</body>
</html>